build:
  type: None
  content: ''
deploy:
  type: text
  content: |
    #/bin/sh


    HELM_OPTS="--set clusterIP=${ROOST_CLUSTER_IP},tag=${ROOST_NAMESPACE},namespace=${ROOST_NAMESPACE}"


    HELM_OPTS=""
    helm upgrade test-helm-vote helm-vote -n $ROOST_NAMESPACE --create-namespace --install $HELM_OPTS
test: []
uninstall:
  type: text
  content: ''
dockerCompose: ''
lastUpdatedBy: Priyanshi Somani
lastUpdatedOn: 2023-05-18T05:39:36.273Z
